name: Build and Deploy to GCP VM

on:
  push:
    branches:
      - main

env:
  IMAGE_TAG: ${{ github.sha }}  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set Docker Hub username
        run: |
          echo "DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME || 'hashkrypt' }}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./
          platforms: linux/amd64
          push: true
          tags: ${{ env.DOCKERHUB_USERNAME }}/crack0x-engine:${{ env.IMAGE_TAG }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Test SSH Connection
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh -i ssh_key -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} "echo 'SSH connection successful'"
          rm ssh_key

      - name: Deploy to GCP VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME || 'hashkrypt' }}
          IMAGE_TAG: ${{ github.sha }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: DOCKERHUB_USERNAME,IMAGE_TAG,DOCKERHUB_TOKEN
          script: |
            cd /home/${{ secrets.USERNAME }}
            rm -rf crack0x-engine
            git clone https://${{ secrets.GIT_TOKEN }}@github.com/artcoder0x0/crack0x-engine.git
            cd crack0x-engine

            if ! command -v docker >/dev/null 2>&1; then
              echo "Docker is not installed"
              exit 1
            fi

            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

            docker pull $DOCKERHUB_USERNAME/crack0x-engine:$IMAGE_TAG

            docker stop crack0x-engine || true
            docker rm crack0x-engine || true

            docker run -d \
              --name crack0x-engine \
              -p 3005:3005 \
              $DOCKERHUB_USERNAME/crack0x-engine:$IMAGE_TAG
            sudu rm -rf crack0x-engine